{% extends 'base.html' %}

{% load i18n %}
{% load custom_url_tags %}
{% load custom_translation %}

{% block title %}
{% trans "KataGo - Contributors" %}
{% endblock %}

{% block content %}

<h1 class="title">{% trans "Contributors" %}</h1>

<h5 class="is-size-5"> {% trans "Top contributors for KataGo distributed training in the last week:" %} </h5>

<table class="table">
  <tr>
    <th> {% trans "User" %} </th>
    <th class="has-text-right"> {% trans "Training Rows Generated" %} </th>
    <th class="has-text-right"> {% trans "Training Games" %} </th>
    <th class="has-text-right"> {% trans "Rating Games" %} </th>
  </tr>
  {% for user in top_recent_user_list %}
  <tr>
    <td> {{ user.username }} </td>
    <td class="has-text-right"> {{ user.total_num_training_rows|as_n_training_rows_str }} </td>
    <td class="has-text-right"> {{ user.total_num_training_games|as_n_training_games_str }} </td>
    <td class="has-text-right"> {{ user.total_num_rating_games|as_n_rating_games_str }} </td>
  </tr>
  {% endfor %}
</table>

<h5 class="is-size-5"> {% trans "All contributors for KataGo distributed training across all time:" %} </h5>

<table class="table">
  <tr>
    <th> {% trans "User" %} </th>
    <th class="has-text-right"> {% trans "Training Rows Generated" %} </th>
    <th class="has-text-right"> {% trans "Training Games" %} </th>
    <th class="has-text-right"> {% trans "Rating Games" %} </th>
  </tr>
  {% for user in all_time_user_list %}
  <tr>
    <td> {{ user.username }} </td>
    <td class="has-text-right"> {{ user.total_num_training_rows|as_n_training_rows_str }} </td>
    <td class="has-text-right"> <a href="{% training_games_list_by_user user.username %}"> {{ user.total_num_training_games|as_n_training_games_str }} </td>
    <td class="has-text-right"> <a href="{% rating_games_list_by_user user.username %}"> {{ user.total_num_rating_games|as_n_rating_games_str }} </td>
  </tr>
  {% endfor %}
</table>

{% endblock content %}
