{% extends 'base.html' %}

{% block title %}
Games for {{network.name}}
{% endblock %}

{% block content %}

{% if kind == "training" %}
<h1 class="title">Training Games for {{network.name}}</h1>
{% else %}
<h1 class="title">Rating Games for {{network.name}}</h1>
{% endif %}

{% if kind == "training" %}
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="{% url 'training_games_list' run.name network.name 1 %}"><i class="fas fa-angle-double-left"></i> First</a>
    <a href="{% url 'training_games_list' run.name network.name page_obj.previous_page_number %}"><i class="fas fa-angle-left"></i> Prev</a>
    {% else %}
    <i class="fas fa-angle-double-left"></i> First
    <i class="fas fa-angle-left"></i> Prev
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a href="{% url 'training_games_list' run.name network.name page_obj.next_page_number %}">Next <i class="fas fa-angle-right"></i></a>
    <a href="{% url 'training_games_list' run.name network.name page_obj.paginator.num_pages %}">Last <i class="fas fa-angle-double-right"></i></a>
    {% else %}
    Next <i class="fas fa-angle-right"></i>
    Last <i class="fas fa-angle-double-right"></i>
    {% endif %}
  </span>
</div>
{% else %}
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="{% url 'rating_games_list' run.name network.name 1 %}"><i class="fas fa-angle-double-left"></i> First</a>
    <a href="{% url 'rating_games_list' run.name network.name page_obj.previous_page_number %}"><i class="fas fa-angle-left"></i> Prev</a>
    {% else %}
    <i class="fas fa-angle-double-left"></i> First
    <i class="fas fa-angle-left"></i> Prev
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a href="{% url 'rating_games_list' run.name network.name page_obj.next_page_number %}">Next <i class="fas fa-angle-right"></i></a>
    <a href="{% url 'rating_games_list' run.name network.name page_obj.paginator.num_pages %}">Last <i class="fas fa-angle-double-right"></i></a>
    {% else %}
    Next <i class="fas fa-angle-right"></i>
    Last <i class="fas fa-angle-double-right"></i>
    {% endif %}
  </span>
</div>
{% endif %}

<table class="table">
  <tr>
    <th> ID </th>
    <th> Uploaded At </th>
    <th> Submitted By </th>
    {% if kind == "rating" %}
    <th> Black </th>
    <th> White </th>
    {% endif %}
    <th> BoardSizeX </th>
    <th> BoardSizeY </th>
    <th> Handicap </th>
    <th> Komi </th>
    <th> GameType </th>
    <th> Length </th>
    <th> Result </th>
    <th> SGF </th>
    <th> View </th>
  </tr>
{% for game in page_obj %}
  <tr>
    <td> {{ game.id }} </td>
    <td> {{ game.created_at|date:"Y-m-d H-i-s e" }} </td>
    <td> {{ game.submitted_by }} </td>
    {% if kind == "rating" %}
    <td> {{ game.black_network.name }} </td>
    <td> {{ game.white_network.name }} </td>
    {% endif %}
    <td> {{ game.board_size_x }} </td>
    <td> {{ game.board_size_y }} </td>
    <td> {{ game.handicap }} </td>
    <td> {{ game.komi }} </td>
    <td> {{ game.gametype }} </td>
    <td> {{ game.game_length }} </td>
    <td> {{ game.result_text }} </td>
    <td> <a href="{{ game.sgf_file.url }}">[SGF]</a> </td>
    {% if kind == "rating" %}
    <td> <a href="{% url 'sgfplayer_rating' game.id %}">[View]</a> </td>
    {% else %}
    <td> <a href="{% url 'sgfplayer_training' game.id %}">[View]</a> </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>

{% if kind == "training" %}
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="{% url 'training_games_list' run.name network.name 1 %}"><i class="fas fa-angle-double-left"></i> First</a>
    <a href="{% url 'training_games_list' run.name network.name page_obj.previous_page_number %}"><i class="fas fa-angle-left"></i> Prev</a>
    {% else %}
    <i class="fas fa-angle-double-left"></i> First
    <i class="fas fa-angle-left"></i> Prev
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a href="{% url 'training_games_list' run.name network.name page_obj.next_page_number %}">Next <i class="fas fa-angle-right"></i></a>
    <a href="{% url 'training_games_list' run.name network.name page_obj.paginator.num_pages %}">Last <i class="fas fa-angle-double-right"></i></a>
    {% else %}
    Next <i class="fas fa-angle-right"></i>
    Last <i class="fas fa-angle-double-right"></i>
    {% endif %}
  </span>
</div>
{% else %}
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="{% url 'rating_games_list' run.name network.name 1 %}"><i class="fas fa-angle-double-left"></i> First</a>
    <a href="{% url 'rating_games_list' run.name network.name page_obj.previous_page_number %}"><i class="fas fa-angle-left"></i> Prev</a>
    {% else %}
    <i class="fas fa-angle-double-left"></i> First
    <i class="fas fa-angle-left"></i> Prev
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a href="{% url 'rating_games_list' run.name network.name page_obj.next_page_number %}">Next <i class="fas fa-angle-right"></i></a>
    <a href="{% url 'rating_games_list' run.name network.name page_obj.paginator.num_pages %}">Last <i class="fas fa-angle-double-right"></i></a>
    {% else %}
    Next <i class="fas fa-angle-right"></i>
    Last <i class="fas fa-angle-double-right"></i>
    {% endif %}
  </span>
</div>
{% endif %}

{% endblock content %}
