{% extends 'base.html' %}

{% load i18n %}
{% load custom_url_tags %}
{% load custom_formatting %}

{% block title %}
{% if kind == "training" %}
{% blocktrans with user_name=user.username %} KataGo - Training Games from {{user_name}} {% endblocktrans %}
{% else %}
{% blocktrans with user_name=user.username %} KataGo - Rating Games from {{user_name}} {% endblocktrans %}
{% endif %}
{% endblock %}

{% block content %}

{% if kind == "training" %}
<h1 class="title">{% blocktrans with user_name=user.username %} Training Games from {{user_name}} {% endblocktrans %}</h1>
{% else %}
<h1 class="title">{% blocktrans with user_name=user.username %} Rating Games from {{user_name}} {% endblocktrans %}</h1>
{% endif %}

{% include 'pagination.html' with other_get_params='' page_obj=page_obj %}

<table class="table">
  <tr>
    <th> {% trans "Game ID" %} </th>
    <th> {% trans "Uploaded At" %} </th>
    <th> {% trans "Run" %} </th>
    {% if kind == "rating" %}
    <th> {% trans "Black" %} </th>
    <th> {% trans "White" %} </th>
    {% else %}
    <th> {% trans "Network" %} </th>
    {% endif %}
    <th> {% trans "BSizeX" %} </th>
    <th> {% trans "BSizeY" %} </th>
    <th> {% trans "Handicap" %} </th>
    <th> {% trans "Komi" %} </th>
    <th> {% trans "GameType" %} </th>
    <th> {% trans "Length" %} </th>
    <th> {% trans "Result" %} </th>
    <th> {% trans "SGF" %} </th>
    <th> {% trans "View" %} </th>
  </tr>
{% for game in page_obj %}
  <tr>
    <td> {{ game.id }} </td>
    <td> {{ game.created_at|isotimestr }} </td>
    <td> {{ game.run.name }} </td>
    {% if kind == "rating" %}
    <td> {{ game.black_network.name }} </td>
    <td> {{ game.white_network.name }} </td>
    {% else %}
    <td> {{ game.black_network.name }} </td>
    {% endif %}
    <td> {{ game.board_size_x }} </td>
    <td> {{ game.board_size_y }} </td>
    <td> {{ game.handicap }} </td>
    <td> {{ game.komi }} </td>
    <td> {{ game.gametype|underscores_to_spaces }} </td>
    <td> {{ game.game_length }} </td>
    <td> {{ game.result_text }} </td>
    <td> <a href="{{ game.sgf_file.url }}">[{% trans "SGF" %}]</a> </td>
    <td> <a href="{% sgfplayer kind game.id %}">[{% trans "View" %}]</a> </td>
  </tr>
  {% endfor %}
</table>

{% include 'pagination.html' with other_get_params='' page_obj=page_obj %}

{% endblock content %}
