{% extends 'base.html' %}

{% load i18n %}

{% block title %}
{% if kind == "training" %}
{% blocktrans with network_name=network.name %} KataGo - Training Games for {{network_name}} {% endblocktrans %}
{% else %}
{% blocktrans with network_name=network.name %} KataGo - Rating Games for {{network_name}} {% endblocktrans %}
{% endif %}
{% endblock %}

{% block content %}

{% if kind == "training" %}
<h1 class="title">{% blocktrans with network_name=network.name %} Training Games for {{network_name}} {% endblocktrans %}</h1>
{% else %}
<h1 class="title">{% blocktrans with network_name=network.name %} Rating Games for {{network_name}} {% endblocktrans %}</h1>
{% endif %}

{% if page_obj.paginator.num_pages != 1 %}
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a class="mx-1" href="{% url list_url_name run.name network.name 1 %}"><i class="fas fa-angle-double-left"></i> {% trans "First" %} </a>
    <a class="mx-1" href="{% url list_url_name run.name network.name page_obj.previous_page_number %}"><i class="fas fa-angle-left"></i> {% trans "Prev" %} </a>
    {% else %}
    <span class="mx-1"><i class="fas fa-angle-double-left"></i> {% trans "First" %} </span>
    <span class="mx-1"><i class="fas fa-angle-left"></i> {% trans "Prev" %} </span>
    {% endif %}

    <span class="current mx-2">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
    <a class="mx-1" href="{% url list_url_name run.name network.name page_obj.next_page_number %}"> {% trans "Next" %} <i class="fas fa-angle-right"></i></a>
    <a class="mx-1" href="{% url list_url_name run.name network.name page_obj.paginator.num_pages %}"> {% trans "Last" %} <i class="fas fa-angle-double-right"></i></a>
    {% else %}
    <span class="mx-1"> {% trans "Next" %} <i class="fas fa-angle-right"></i></span>
    <span class="mx-1"> {% trans "Last" %} <i class="fas fa-angle-double-right"></i></span>
    {% endif %}
  </span>
</div>
{% endif %}

<table class="table">
  <tr>
    <th> {% trans "Game ID" %} </th>
    <th> {% trans "Uploaded At" %} </th>
    <th> {% trans "Submitted By" %} </th>
    {% if kind == "rating" %}
    <th> {% trans "Black" %} </th>
    <th> {% trans "White" %} </th>
    {% endif %}
    <th> {% trans "BoardSizeX" %} </th>
    <th> {% trans "BoardSizeY" %} </th>
    <th> {% trans "Handicap" %} </th>
    <th> {% trans "Komi" %} </th>
    <th> {% trans "GameType" %} </th>
    <th> {% trans "Length" %} </th>
    <th> {% trans "Result" %} </th>
    <th> {% trans "SGF" %} </th>
    <th> {% trans "View" %} </th>
  </tr>
{% for game in page_obj %}
  <tr>
    <td> {{ game.id }} </td>
    <td> {{ game.created_at|date:"Y-m-d H-i-s e" }} </td>
    <td> {{ game.submitted_by }} </td>
    {% if kind == "rating" %}
    <td> {{ game.black_network.name }} </td>
    <td> {{ game.white_network.name }} </td>
    {% endif %}
    <td> {{ game.board_size_x }} </td>
    <td> {{ game.board_size_y }} </td>
    <td> {{ game.handicap }} </td>
    <td> {{ game.komi }} </td>
    <td> {{ game.gametype }} </td>
    <td> {{ game.game_length }} </td>
    <td> {{ game.result_text }} </td>
    <td> <a href="{{ game.sgf_file.url }}">[{% trans "SGF" %}]</a> </td>
    <td> <a href="{% url sgfplayer_url_name game.id %}">[{% trans "View" %}]</a> </td>
  </tr>
  {% endfor %}
</table>

{% if page_obj.paginator.num_pages != 1 %}
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a class="mx-1" href="{% url list_url_name run.name network.name 1 %}"><i class="fas fa-angle-double-left"></i> {% trans "First" %} </a>
    <a class="mx-1" href="{% url list_url_name run.name network.name page_obj.previous_page_number %}"><i class="fas fa-angle-left"></i> {% trans "Prev" %} </a>
    {% else %}
    <span class="mx-1"><i class="fas fa-angle-double-left"></i> {% trans "First" %} </span>
    <span class="mx-1"><i class="fas fa-angle-left"></i> {% trans "Prev" %} </span>
    {% endif %}

    <span class="current mx-2">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
    <a class="mx-1" href="{% url list_url_name run.name network.name page_obj.next_page_number %}"> {% trans "Next" %} <i class="fas fa-angle-right"></i></a>
    <a class="mx-1" href="{% url list_url_name run.name network.name page_obj.paginator.num_pages %}"> {% trans "Last" %} <i class="fas fa-angle-double-right"></i></a>
    {% else %}
    <span class="mx-1"> {% trans "Next" %} <i class="fas fa-angle-right"></i></span>
    <span class="mx-1"> {% trans "Last" %} <i class="fas fa-angle-double-right"></i></span>
    {% endif %}
  </span>
</div>
{% endif %}

{% endblock content %}
