{% extends 'base.html' %}

{% load i18n %}
{% load custom_formatting %}
{% load custom_translation %}

{% block extra_html_head_stuff %}
<link type="text/css" href="/static/css/tooltips.css" rel="stylesheet" />

{% if run %}
{% include 'run_stats_head.html' %}
{% endif %}

{% endblock extra_html_head_stuff %}


{% block title %}{% trans "KataGo Distributed Training" %}{% endblock %}


{% block content %}

<h1 class="title">{% trans "KataGo Distributed Training" %}</h1>

<h2 class="is-size-2"> {% trans "How to Contribute" %} </h2>

First, create an account on the site. Then put a file named contribute.cfg into the same folder as the katago executable that has this info:

<pre>
serverUrl = https://katagotraining.org/
username = PUT_USERNAME_HERE
password = PUT_PASSWORD_HERE
</pre>

Then clone katago and build the distributed branch.

<pre>
git checkout distributed
cd cpp
cmake . -DUSE_BACKEND=OPENCL -DBUILD_DISTRIBUTED=1
make -j16
</pre>

-j16 tells make to use 16 threads to build, use the number appropriate for your CPU (12 for 6 core with SMT, etc.)

Then run the katago executable like so

<pre>./katago contribute -config contribute.cfg</pre>

Or like so on Windows

<pre>katago.exe contribute -config contribute.cfg</pre>

{% if run %}
<h2 class="is-size-2 mt-4"> {% blocktrans with run_name=run.name %} Stats for {{run_name}} {% endblocktrans %} </h2>
{% blocktrans with run_name=run.name run_created_at=run.created_at|isotimestr %}
The current ongoing run is named {{run_name}} and began on {{ run_created_at }}.
{% endblocktrans %}
{% include 'run_stats.html' %}
{% endif %}


{% if show_older_runs %}
<h2 class="is-size-2 mt-4"> {% trans "Older Runs" %} </h2>
{% url 'runs' as runs_url %}
{% blocktrans %}
For older or prior runs that KataGo has done on this site, see <a href="{{ runs_url }}">here</a>.
{% endblocktrans %}
{% endif %}

{% endblock content %}
