{% extends 'base.html' %}

{% block title %}
{% if not run %}
Networks
{% else %}
Networks for {{run.name}}
{% endif %}
{% endblock %}

{% block content %}

{% if not run %}
No currently active run to view networks for.
{% elif viewing_current_run %}
<h1 class="title">Networks for Current Run ({{run.name}}) </h1>
{% else %}
<h1 class="title">Networks for {{run.name}}</h1>
{% endif %}

{% if run and object_list|length <= 0 %}
No networks found for this run!
{% elif run and object_list|length > 0 %}
<table>
  <tr>
    <th> Name </th>
    <th> Uploaded At </th>
    <th> Approx Elo Rating </th>
    <th> Download </th>
    <th> Extra Notes </th>
  </tr>
  {% for network in object_list %}
  <tr>
    <td> {{ network.name }} </td>
    <td> {{ network.created_at|date:"Y-m-d H-i-s e" }} </td>
    <td> {{ network.rating }} </td>

    {% if network.model_zip_file %}
    <td> <a href="{{ network.model_zip_file.url }}">[zip]</a> </td>
    {% elif network.model_file %}
    <td> <a href="{{ network.model_file.url }}">[bin.gz]</a> </td>
    {% else %}
    <td> - </td>
    {% endif %}

    <td> {{ network.notes }} </td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% if other_runs_to_show|length > 0 %}
<h1 class="title"> Networks for Other Runs </h1>
<ul>
  {% for run in other_runs_to_show %}
  <li><a href="{% url 'networks' run.name %}"> {{ run.name }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% endblock content %}
