{% extends 'base.html' %}

{% load i18n %}
{% load custom_formatting %}
{% load custom_translation %}

{% block extra_html_head_stuff %}
<link type="text/css" href="/static/css/tooltips.css" rel="stylesheet" />

{% include 'run_stats_head.html' %}

{% endblock extra_html_head_stuff %}

{% block title %}
{% blocktrans with run_name=run.name %} KataGo - {{run_name}} {% endblocktrans %}
{% endblock %}


{% block content %}

<h1 class="title">{{run.name}}</h1>

{% url 'home' as current_url %}
{% url 'runs' as older_url %}
{% include 'handle_multiple_runs.html' %}

{% blocktrans with run_name=run.name run_created_at=run.created_at|isotimestr latest_network_at=latest_network.created_at|isotimestr %}
<p>
The run {{run_name}} began at {{ run_created_at }} and its latest network was uploaded at {{ latest_network_at }}.
{% endblocktrans %}

{% include 'run_stats.html' %}

{% endblock content %}
