# If you would like the server's uploaded files (sgfs,npzs) to get stored to somewhere other than
# ./data within this base directory, uncomment and specify the path here
# UPLOADED_DATA_DIRECTORY=/examplepath/to/dir

# Uncomment and set this to your own email, this is the contact for traefik's ssl stuff
# It gets sent to letsencrypt as a contact address if something is wrong or whatever.
# TRAEFIK_LETSENCRYPT_EMAIL=someone@example.com

# Uncomment and set this to your domain or subdomain that you will run this site out of
# like example.com or mysubdomain.example.com
# This is used by traefik, which handles all the incoming web request routing for the site.
# TRAEFIK_ROUTER_DOMAIN_NAME=example.com
