apiVersion: v1
kind: Service
metadata:
  name: django-service
  namespace: {{.Values.global.namespace}}
  labels:
    {{- include "katago-server.labels" . | nindent 4 }}
spec:
  selector:
    app: django
    {{- include "katago-server.selectorLabels" . | nindent 4 }}
  ports:
  - name: http-django
    protocol: TCP
    port: {{.Values.django.servicePort}}
    targetPort: {{.Values.django.containerPort}}
