#eloGraph {
  width: 90%;
  /* Disable double click to zoom on mobile */
  touch-action: manipulation;
}

.svg-container {
  width: 100%;
  overflow: hidden;
}
.svg-content-responsive {
}

.tick line {
  stroke: #DDDDDD;
}
.domain {
  stroke: #AAAAAA;
}

body {
  position:initial;
}

.eloGraphTooltip {
  background-color: white;
  border: solid;
  border-color: #555555;
  border-width: 1px;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 100;
  display: block;
  font-size: 1em;
}

.eloButtonHighlighted {
  box-shadow: 0 0 3px blue;
}
