#eloGraph {
  width: 90%;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

.tick line {
  stroke: #DDDDDD;
}
.domain {
  stroke: #AAAAAA;
}

body {
  position:initial;
}

.eloGraphTooltip {
  background-color: white;
  border: solid;
  border-color: #555555;
  border-width: 1px;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 100;
  display: block;
  font-size: 1em;
}
